.selectButton {
    display: inline-block;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    color: cyan;
    background: none;
}